.container {
    padding: 20px;
    background-color: #e6fff5; 
  }
  
  .goBackButton {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .goBackButton:hover,
  .goBackButton:focus {
    background-color: #cc8400;
  }

   .movieDetails {
    display: flex;
    gap: 20px;
    /* margin-top: 20px; */
  }

  .info {
    flex: 1;
  }
  
  .additionalInfo {
    margin-top: 20px;
    text-decoration: none;
  color: black;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .list li {
    margin-bottom: 10px;
  }
  
  .list a {
    text-decoration: none;
    color: inherit;
  }
  
  .list a:hover {
    color: orange;
  }