.reviews {
    margin-top: 20px;
    list-style: none;
  padding: 0;
  }
  
  .review {
    margin-bottom: 20px;
  }

  .author {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .noReviews {
    color: red; 
  }