.nav {
  display: flex;
  gap: 20px;
  background-color: #f4f4f4;
  padding: 10px 20px;
}

.nav a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;

}

.nav a.active {
  color: orange;
}

.nav a:hover {
  color: orange;
}
